<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Darius Cocoara Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/works">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="user != null" href="/private">Private</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#loginModal"
          *ngIf="user == null">
          Login
        </button>
        <!-- <a class="nav-link" *ngIf="user == null" href="/login">Login</a> -->
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#logoutModal"
          *ngIf="user != null">
          LogOut
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="alert alert-success alert-dismissible fade show" *ngIf="loginSuccess" id="successlogin" role="alert">
  <p class="alert-heading"><strong>Se ha iniciado sesión correctamente</strong></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModal">Iniciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container wrapper">
          <button type="button" class="btn btn-success" (click)="login()" *ngIf="!allowedUserError">Iniciar session con
            Google</button>
          <button type="button" class="btn btn-success" (click)="login()" *ngIf="allowedUserError">Canviar usuari de
            Google</button>
        </div>
      </div>

    </div>
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="allowedUserError" role="alert">
      <h4 class="alert-heading"><strong>Error</strong></h4>
      <p class="mb-0">Este usuario no tiene acceso</p>
      <hr>
      <p class="mb-0">Cambia de usuario para poder iniciar sesión</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>
</div>


<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModal">Cerrar sesión?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col"><button type="button" class="btn btn-danger" (click)="logout()" [routerLink]="['/home']">Sí</button></div>
              <div class="col"><button type="button" class="btn btn-primary" [routerLink]="['/home']">No</button></div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>