<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Diseño de Aplicaciones Web</span>
</nav>

<div class="d-flex container-fluid mt-2 text-center justify-content-center">
    <div class="card mb-3 bg-dark" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-5 col-sm-12">
                <img src="../../assets/img/profile-img.JPG" class="img-fluid" alt="Profile Img">
            </div>
            <div class="col-md-7 col-sm-12 bg-dark text-light">
                <div class="card-body ">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Estudio en la Caparrella, diseño de aplicaciones web, ciclo superior y vivo en Alguaire (Lleida).</p>
                    <!-- <p class="card-text"><small class="text-muted"></small></p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="card-columns">


        <div class="card text-white mb-3 " style="background-color: #C6C8CA;">
            <div class="card-header text-center bg-dark"><i class="fas fa-user-graduate fa-2x" style="color:lightgray"></i></div>
            <div class="card-body">
                <h5 class="card-title text-center text-dark">Educación</h5>
                <div class="card-text">

                <div class="card text-white bg-dark mb-3">
                    <div class="card-header text-center"><i class="fas fa-graduation-cap fa-2x" style="color:lightgreen"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Educación Secundaria Obligatoria</h5>
                        <div class="card-text">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-dark"><i class="fas fa-school"></i> Castell de Templers <br> <i class="far fa-calendar-alt"></i> 4 años <br> <i class="fas fa-map-marker-alt"></i> Lleida <br></li>
                            </ul>
                    </div>
                    </div>
                </div>

                <div class="card text-white bg-dark mb-3">
                    <div class="card-header text-center"><i class="fas fa-microchip fa-2x" style="color:yellowgreen"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Sistemas Microinformáticos y Redes</h5>
                        <div class="card-text">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-dark"><i class="fas fa-school"></i> Caparrella <br> <i class="far fa-calendar-alt"></i> 2 años <br> <i class="fas fa-map-marker-alt"></i> Lleida <br></li>
                            </ul>
                    </div>
                    </div>
                </div>

                <div class="card text-white bg-dark mb-3">
                    <div class="card-header text-center"><i class="fas fa-code fa-2x" style="color:lightcoral"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Diseño de Aplicaciones Web</h5>
                        <div class="card-text">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-dark"><i class="fas fa-school"></i> Caparrella <br> <i class="far fa-calendar-alt"></i> 2 años <br> <i class="fas fa-map-marker-alt"></i> Lleida <br></li>
                            </ul>
                    </div>
                    </div>
                </div>

            </div>
            </div>
        </div>


        <div class="card text-white bg-dark mb-3">
            <div class="card-header text-center"><i class="fas fa-language fa-2x" style="color:lightblue"></i></div>
            <div class="card-body">
                <h5 class="card-title">Idiomas</h5>
                <div class="card-text">
                <ul>
                    <li>Rumano : Materno</li>
                    <li>Inglés : Medio</li>
                    <li>Catalán: Alto</li>
                    <li>Español: Alto</li>
                </ul>
            </div>
            </div>
        </div>


    


        <div class="card text-white mb-3 " style="background-color: #C6C8CA;">
            <div class="card-header text-center bg-dark"><i class="fas fa-briefcase fa-2x" style="color:lightgoldenrodyellow"></i></div>
            <div class="card-body">
                <h5 class="card-title text-center text-dark">FCT, DUAL y Trabajo</h5>
                <div class="card-text">

                <div class="card text-white bg-dark mb-3">
                    <div class="card-header text-center"><i class="fas fa-hammer fa-2x" style="color:lightsalmon"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Fusteria Fuentes</h5>
                        <div class="card-text">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-dark">
                                    <i class="fas fa-school"></i> FCT <br> <i class="far fa-calendar-alt"></i> 01/2016 - 06/2016 <br> <i class="fas fa-map-marker-alt"></i> Torrefarrera <br>
                                    <b>Tareas realizadas:</b>
                                    <ul class="list-group mt-2">
                                        <li  class="list-group-item list-group-item-dark ">Montaje de muebles</li>
                                        <li  class="list-group-item list-group-item-dark">Transporte</li>
                                        <li  class="list-group-item list-group-item-dark">Creación de muebles</li>
                                    </ul>
                                </li>
                            </ul>
                    </div>
                    </div>
                </div>

                <div class="card text-white bg-dark mb-3">
                    <div class="card-header text-center"><i class="fas fa-hard-hat fa-2x" style="color:orange"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Construcciones González </h5>
                        <div class="card-text">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-dark">
                                    <i class="fas fa-school"></i> Trabajo <br> <i class="far fa-calendar-alt"></i> 06/2016 - 09/2016 <br> <i class="fas fa-map-marker-alt"></i> Santa Coloma de Queralt <br>
                                    <b>Tareas realizadas:</b>
                                    <ul class="list-group mt-2">
                                        <li  class="list-group-item list-group-item-dark">Trabajo en el ámbito urbano</li>
                                        <li  class="list-group-item list-group-item-dark">Construción en fachadas</li>
                                    </ul>
                                </li>
                            </ul>
                    </div>
                    </div>
                </div>

                <div class="card text-white bg-dark mb-3">
                    <div class="card-header text-center"><i class="fas fa-glasses fa-2x" style="color:lightskyblue"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Natural Optics Group</h5>
                        <div class="card-text">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-dark">
                                    <i class="fas fa-school"></i> FCT, DUAL y Trabajo <br> <i class="far fa-calendar-alt"></i> 11/2018 - ... <br> <i class="fas fa-map-marker-alt"></i> Torrefarrera <br>
                                    <b>Tareas realizadas:</b>
                                    <ul class="list-group mt-2">
                                        <li  class="list-group-item list-group-item-dark">Instalación de Softoware, Sistemas Operativos</li>
                                        <li  class="list-group-item list-group-item-dark">Reparación de Hardware</li>
                                        <li  class="list-group-item list-group-item-dark">Maquetación de páginas web, landing pages, mailings</li>
                                        <li  class="list-group-item list-group-item-dark">Optimización de la información</li>
                                    </ul>
                                </li>
                            </ul>
                    </div>
                    </div>
                </div>

            </div>
            </div>
        </div>




        <div class="card text-white bg-dark mb-3" style="max-width: 300px">
            <div class="card-header text-center"><i class="fas fa-users fa-2x" style="color:lightgreen"></i></div>
            <div class="card-body">
                <h5 class="card-title">Contacto</h5>
                <div class="card-text">
                    <ul class="list-group">
                        <li  class="list-group-item list-group-item-primary text-center"> <a class="btn btn-primary" target="_blank" href="https://www.instagram.com/darius_coco/?hl=es" role="button"><i class="fab fa-instagram"></i></a></li>
                        <li  class="list-group-item list-group-item-success text-center"> <a class="btn btn-success" target="_blank" href="https://api.whatsapp.com/send?phone=34642717826" role="button"><i class="fab fa-whatsapp"></i></a></li>
                        <li  class="list-group-item list-group-item-danger text-center"> <a class="btn btn-danger" href="mailto: dariuscocoara2@gmail.com" role="button"><i class="fas fa-envelope"></i></a></li>
                    </ul>

                    <ul class="list-group mt-2">
                        <li  class="list-group-item list-group-item-primary text-center">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                            <img src="../../assets/img/darius_coco_nametag.png" class="img-fluid" alt="Profile Img"> 
                        </div>
                        </li>
                            
                    </ul>

            </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3">
            <div class="card-header text-center"><i class="fas fa-laptop-code fa-2x" style="color:lightseagreen"></i></div>
            <div class="card-body">
                <h5 class="card-title">Software</h5>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">HTML y CSS   </li>
                        <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">Ofimática </li>
                        <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">Java      </li>
                        <li class="list-group-item list-group-item-success d-flex justify-content-between a lign-items-center">SQL      </li>
                    <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">JavaScript     </li>
                        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">PHP     </li>
                </ul>
            </div>
            </div>
        </div>

</div>