<div class="container">
    

    <table class="table table-striped table-dark table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Imatge</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let portfolio of portfolios; let i=index">
                <th scope="row">{{ portfolio.data }}</th>
                <td>{{ portfolio.title }}</td>
                <td><img width="125px" [src]="portfolio.image"/></td>
                <td>
                    <button class="btn btn-primary" (click)="deletePortfolio(i)">Esborrar</button>
                    <button class="btn btn-primary" (click)="loadCurrentPortfolio(i)" data-toggle="modal" data-target="#addFunkModel">Modificar</button>
                </td>
            </tr>
        </tbody>
    </table>
  
  </div>
  
  <!-- Add Funko Modal -->
  <div class="modal fade" id="addFunkModel" tabindex="-1" aria-labelledby="addFunkModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFunkModelLabel">Afegir un nou Funko a la Base de Dades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Tancar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Nom del Funko" aria-label="Nom del Funko" aria-describedby="basic-addon1" [(ngModel)]="portfolio.title">
                <input type="text" class="form-control" placeholder="Imatge del Funko" aria-label="Imatge del Funko" aria-describedby="basic-addon1" [(ngModel)]="portfolio.image">
                <input type="text" class="form-control" placeholder="Col·lecció del Funko" aria-label="Col·lecció del Funko" aria-describedby="basic-addon1" [(ngModel)]="portfolio.description">
                <input type="text" class="form-control" placeholder="Número del Funko" aria-label="Número del Funko" aria-describedby="basic-addon1" [(ngModel)]="portfolio.data">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
                <button type="button" class="btn btn-primary" *ngIf="mode=='add'" (click)="addPortfolio()" data-dismiss="modal">Afegir</button>
                <button type="button" class="btn btn-primary" *ngIf="mode=='update'" (click)="updatePortfolio()" data-dismiss="modal">Modificar</button>
            </div>
        </div>
    </div>
  </div>